{
    "local": { 
    	"mongo": "mongodb://localhost/BukaReview"
    },
    "staging": {
    	"mongo": "mongodb://localhost/BukaReview"
    },
    "production": {
    	"mongo": "mongodb://localhost/BukaReview"
    }
}
